body {
  background-color: slategray;
}

.jumbotron {
  background-image: url('sky.jpg');
  background-size: cover;
  color: white;
}

img {
  max-width: 100%;
  height: 300px;
}

.bio {
  color: white;
}